/*Created by Mike Banes*/

﻿html {
    background-color: black;
    text-align: center;
}


header .container {
}

header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    align-content: center;
}

.link {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.link a {
    color: aquamarine;
    text-decoration: none;
}

main .container {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
}

main .container .side_img {
    flex: 2 0 30%;
    color: white;
}

#mp4 {
    align-content: center;
    align-items: center;

}

.video .container {
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align:center;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
/*

.landscape_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landscape_container img {
    max-width: 90%;
}

footer .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.copywright {
    font-family: Verdana;
    font-weight: normal;
    font-size: 21px;
    text-align: right;
    margin: 10px 10px;
}

footer a {
    color: gray;
}

body {

}*/