html {
    background-color: black;
    text-align: center;
}


header .container {

    border: 2px solid red;
}

header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    align-content: center;
}

.link {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.link a {
    color: aquamarine;
    text-decoration: none;
}

main .container {
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    
}

main .container .side_img {
    flex: 2 0 30%;
    color: white;
    border: 3px solid blue;
}

#mp4 {
    border: 2px solid orange;
    align-content: center;
    align-items: center;

}

.banner {

    border: 2px solid red;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align:center;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

body {
}
